body{
    margin: 0px;
    padding: 0px;
}

#A{
 /* border: 2px solid red; */
 height:70px;
 display: flex;
 flex-direction: row;
 background-color: rgba(240, 128, 128, 0.781);
 
}

#B {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 450px;
    margin-top: 6px;
}

.a{
    list-style: none;
    padding: 15px;
    margin-left: 40px;
    font-size: 23px;
    cursor: pointer;
}

.a a :hover{
    color: white ;
}

#C{
   font-size: 25px;
   padding: 6px;
}

input{
    width: 300px;
}

#D{
    position: absolute;
    left: 40%;
    top: 2%;
}

#E{
    /* border: 2px solid black; */
    height: 700px;
    background-image: url(images/shaafi-ali-5qBwgjP1ZwE-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1750px 690px;
    
}
.c{
    text-align: center;
    font-size: 30px;
    
   
}

#G{
    /* border: 2px solid black; */
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: lavender; */
    
}

#H{
    /* border: 2px solid lemonchiffon; */
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    
    
}

.b{
    /* border: 2px solid green; */
    width: 350px;
    margin: 10px;
    border-radius: 6px;
    background-color: lavenderblush;
    /* background-color: white; */
}

.d{
    /* border: 2px solid blue; */
    height: 230px;
    width: 300px;
    margin: 4px;
    display: flex;
    flex-direction: row;
    background-color: lightpink;
}

#I{
    /* border: 2px solid pink; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
}

.e{
    /* border: 2px solid brown; */
    border-radius:  700px;
    width: 170px;
    margin: 10px;
}

#twenty{
    position: absolute;
    color: ivory;
    /* border: 2px solid red; */
    font-size: 70px;
    width: 99.5%;
    height: auto;
    text-align: center;
}


    


#apple img{
    border-radius:  700px;
    width: 170px;
    height: 176px;
}

#eleven img{
    border-radius:  700px;
    width: 170px;
    height: 176px;
}

#twelve img{
    border-radius:  700px;
    width: 170px;
    height: 176px;
}

#box img{
    border-radius:  700px;
    width: 170px;
    height: 176px;
}

#J{
    /* border: 2px solid violet; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
}



.f{
    margin-top: 16px;
}

  #L{
    /* border: 2px solid yellow;  */
    height: 40px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#M{
    background-color: lavender;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.i img{
    height: 230px;
    width: 230px;
}



.h{
    display: flex;
    flex-direction: column;
    /* border: 2px solid salmon; */
    margin-left: 20px;
    margin-top: 10px;
    
}

.g{
    font-size: 30px;
   /* font-weight: 500; */
}

#two{
display: flex;
flex-direction: column;
/* border: 2px solid brown; */
margin-left: 15px;
width: 30px;
margin-top: 6px;
}

.j{
    font-size: 24px;
    font-weight: 500;
}

#three{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 30px;
    margin-top: 6px;
   
}

#four{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 30px;
    margin-top: 6px;
   
}

#five{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 30px;
    margin-top: 2px; 
}

.k{
    font-size: 30px;
    
    
}

#six img{
     height: 200px;
     width: 350px;
}

#seven img{
    height: 200px;
    width: 350px;
    
}

#eight img{
    height: 200px;
    width: 350px;
   
}

.m{
    border: 1px solid black;
    margin: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    
    
}

.m h3{
    font-size: 24px;
    margin-top: 0px;
    background-color: whitesmoke;
    height: 40px;

}

.n{
    margin-top: 6px;
}

#bottom img{
    height: 120px;
    width: 120px;
}


@media screen and (max-width:420px){
    /* #A{
         border: 2px solid black; 
    } */

    #B{
        /* border: 2px solid yellow; */
        width: 362px;
    }

    #D{
       display: none;
    }

    .a{
        padding: 12px;
        margin-left: -8px;
    }

   #twenty{
       margin-left: 2px;
       /* border: 2px solid yellowgreen; */
       width: auto;
       height: auto;
       font-size: 64px;
   }

   #E{
       /* border: 1px solid brown; */
       background-size: 500px 700px;
   }

   /* #I{
        border: 2px solid red; 
   } */

   #apple img{

       height: 50px;
       width: 50px;
       border-radius: 50px;
   }

   #eleven img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
   }

   #twelve img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
   }

   #box img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
   }

   /* #H{
        border: 2px solid palegoldenrod; 
   } */

   .d{
       width: 70px;
       height: auto;
       /* border: 2px solid blue; */
   }
   .i{
       /* border: 2px solid green; */
       height: auto;
   }

   .i img{
       height: 220px;
       width: 35px;
   }

   .h{
       /* border: 2px solid red; */
       height: 190px;
       margin-left: 2px;
       width: auto;
   }

   #two{
    font-size: 5px;
   }

   .g{
       font-size: 15px;
   }

   #two{
       /* border: 2px solid red; */
       width: 20px;
   }

   .j{
       font-size: 10px;
   }

   #five{
       /* border: 2px solid yellow; */
       width: 20px;
       margin-left: 5px;
   }

   .k{
       font-size: 17px ;
   }

   #four{
       /* border: 2px solid paleturquoise; */
       width: 20px;
      
   }

   #three{
       /* border: 2px solid violet; */
       width: 20px;
       
   }
}


